/* Header--start */
/* img{
    max-width: 100%;
} */
.header{
    background-color: #f8f9fa;
}
.corousel-heading{
    position: absolute;
    bottom: 30%;
}
/* Header--end */
/* corosule start */
/* corosule end */